<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="{{ # | prepend: site.baseurl }}"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <!-- Right Nav Section -->
    <ul class="right">

      <!-- Additional Pages -->
      {% for page in site.pages %}
        {% if page.title %}
        <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}

      <!-- Contact Me Modal Trigger -->
      <li class="active"><a href="{{ # | prepend: site.baseurl }}" data-reveal-id="subscribeModal">Subscribe</a></li>
    </ul>

    <!-- Left Nav Section -->
    <!-- <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul> -->

    <!-- Contact Modal Content -->
    <div id="subscribeModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">Let's Get In Touch</h2>
      <p class="lead">Do you believe in life after love?</p>
      <p>If you do, email me at <a href="mailto:mail@greythompson.com">mail@greythompson.com</a> and let me know.</p>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

  </section>
</nav>